@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-text;
  font-family: 'Inter', sans-serif;
}

.glow-effect {
  box-shadow: 0 0 15px rgba(138, 43, 226, 0.8);
}

.neon-button {
  @apply bg-primary text-white px-6 py-3 rounded-lg shadow-glow hover:bg-accent transition;
}


@keyframes electricGlow {
  0% {
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5), 
                0 0 20px rgba(128, 0, 128, 0.4);
    transform: rotate(0deg);
  }
  50% {
    box-shadow: 0 0 20px rgba(128, 0, 255, 0.7), 
                0 0 30px rgba(128, 0, 255, 0.6);
    transform: rotate(180deg) scale(1.1);
  }
  100% {
    box-shadow: 0 0 10px rgba(128, 0, 128, 0.5), 
                0 0 20px rgba(128, 0, 128, 0.4);
    transform: rotate(360deg);
  }
}

.electric-border {
  border: 4px solid rgba(128, 0, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  animation: electricGlow 5s linear infinite;
}



/* <div className="absolute inset-0 overflow-hidden">
        <div className="w-48 h-48 bg-purple-900/50 rounded-full absolute top-20 left-10 blur-2xl"></div>
        <div className="w-48 h-48 bg-purple-800/65 rounded-full absolute bottom-32 right-16 blur-3xl"></div>
        <div className="w-24 h-24 bg-purple-900/75 rounded-full absolute top-1/3 left-1/4 blur-2xl"></div>
        <div className="w-40 h-40 bg-purple-700/60 rounded-full absolute bottom-20 left-1/3 blur-3xl"></div>
      </div> */
